<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="carsDataBasePath" value="G:\Inne\UMK\rok3\c#\ProjektWPF\cars.csv"/>
	</appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICarRentalService" />
                <binding name="BasicHttpBinding_ICarRentalService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/RentCarLibrary/RentCarService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarRentalService1"
                contract="ServiceReference1.ICarRentalService" name="BasicHttpBinding_ICarRentalService" />
        </client>
    </system.serviceModel>
</configuration>